In [4]:
from tk_library import excel_to_df
_, amd_PL, amd_BS, amd_CF = excel_to_df("AMD_Y.xlsx")

In [8]:
amd_info = amd_PL[["Revenue", "Gross Profit","Operating Income (Loss)","Net Income Available to Common Shareholders"]].copy()
amd_info.rename(columns = {amd_info.columns[2]:'opt income',amd_info.columns[3]:'net income'}, inplace=True)
amd_info["g_ratio"] = (amd_info["Gross Profit"]/amd_info["Revenue"]).round(2)
amd_info

in million USD  Revenue  Gross Profit  opt income  net income  g_ratio
2
FY '09             5403          2272        -513         304     0.42
FY '10             6494          2961         561         471     0.46
FY '11             6568          2940         466         491     0.45
FY '12             5422          1235        -956       -1183     0.23
FY '13             5299          1978          85         -83     0.37
FY '14             5506          1839         149        -403     0.33
FY '15             3991          1080        -352        -660     0.27
FY '16             4319          1003        -471        -498     0.23
FY '17             5253          1787          75         -33     0.34
FY '18             6475          2447         451         337     0.38

- 下面开始画图啦

In [9]:
import plotly
import plotly.plotly as py
import plotly.graph_objs as go

plotly.tools.set_credentials_file(username="bossqiao", api_key="23AH57IhbCO6XrOcZzXt")

In [13]:
revenue = go.Bar(
    x=amd_info.index,
    y=amd_info["Revenue"],
    name="Revenue"
)

gross_profit = go.Bar(
    x=amd_info.index,
    y=amd_info["Gross Profit"],
    name="Gross Profit"
)

opt_income = go.Bar(
    x=amd_info.index,
    y=amd_info["opt income"],
    name="Operating Income"
)

net_income = go.Bar(
    x=amd_info.index,
    y=amd_info["net income"],
    name="Net Income"
)

data = [revenue, gross_profit, opt_income, net_income]

layout = go.Layout(barmode="stack")

fig_bs = go.Figure(data=data, layout=layout)
py.iplot(fig_bs, filename='AMD Info Bar')

In [15]:
revenue = go.Scatter(
    x=amd_info.index,
    y=amd_info["Revenue"],
    name="Revenue"
)

gross_profit = go.Scatter(
    x=amd_info.index,
    y=amd_info["Gross Profit"],
    name="Gross Profit"
)

opt_income = go.Scatter(
    x=amd_info.index,
    y=amd_info["opt income"],
    name="Operating Income"
)

net_income = go.Scatter(
    x=amd_info.index,
    y=amd_info["net income"],
    name="Net Income"
)

data = [revenue, gross_profit, opt_income, net_income]

fig_bs = go.Figure(data=data)
py.iplot(fig_bs, filename='AMD Info Scatter')

In [17]:
g_ratio = go.Scatter(
    x=amd_info.index,
    y=amd_info["g_ratio"],
    name="Gross Ratio"
)

data = [g_ratio]

fig_bs = go.Figure(data=data)
py.iplot(fig_bs, filename = 'amd_g_ratio_2009-2018')